streamlit
setuptools
wheel
python-dotenv
pdfplumber
python-docx
python-pptx
pandas
pillow
sentence-transformers
scikit-learn
pytesseract
openai
chromadb
langchain
langchain-openai
langchain-community
langchain-chroma
tiktoken
fastapi
uvicorn
python-multipart